
/* Reset default margin and padding */
* {
    /* margin: 0; */
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

/* Top page container */
.top-page{
    color:black;
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-left: 1%; /* Add this line to add some margin on the right */
    width: 97%;
}

/* Navbar styles */
.navbar {
    display: flex;
}

.navbar ol{
    list-style-type: none;
    /* padding:50px; */
    margin:0;
}
.navbar li{
    display: inline-block;
    margin-right:10px;
}

.login-container {
    text-align: center; /* Horizontal centering */
    justify-content: center; /* Horizontal centering */
    background-color: #bde3ff;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    width: 300px;
    margin: 0 auto;

}

.new-container {
    text-align: center; /* Horizontal centering */
    justify-content: center; /* Horizontal centering */
    background-color: #ffcd29;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    width: 300px;
    margin: 0 auto;

}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Adjust margin as needed */
}
h2 {
    text-align: center; /* Horizontal centering */
}