
* {
    font-family: 'Roboto', sans-serif;

}

.signup-container {
    text-align: center; /* Horizontal centering */
    justify-content: center; /* Horizontal centering */
    background-color: #ffcd29;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    width: 300px;
    margin: 0 auto;
}

/* Top page container */
.top-page{
    color:black;
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-left: 1%; /* Add this line to add some margin on the right */
    width: 97%;
}

.navbar {
    display: flex;
}

.navbar ol{
    list-style-type: none;
    padding:0;
    margin:0;
}

.navbar li{
    display: inline-block;
    margin-right:10px;
}


.signup-container button {
    background-color: white;
    color: black;
    padding: 5px 10px;
    border-color:grey;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.signup-container button:hover {
    background-color: #EEEEEE;
}